/* Dialogs */
.DialogPageBody .PageTitleHeader, .WidgetTabsPageHeader .PageTitleHeader, .LiveSiteDialog .PageTitleHeader
{
    background: #CCCCCC !important;
    background-image: url(./Images/Dialogs/DialogHeader.png) !important;
    border-bottom: 1px solid transparent;
}

/* Live site skin */
.ContentBody .DialogMainBlock
{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ContentBody .DialogContent
{
    width: 100%;
    height: 100%;
    float: left;
}

.ContentBody .MediaLibraryContainer .DialogContent
{
    text-align: left !important;
}

.ContentBody .DialogPageBody .PageTitleHeader, .ContentBody .WidgetTabsPageHeader .PageTitleHeader
{
    background: #CCCCCC !important;
    background-image: url(./Images/Dialogs/DialogHeader.png) !important;
    border-bottom: none;
}

.ContentBody .LiveSiteDialog .SelectorBorder
{
    background-image: url(./Images/Dialogs/Resizer.png) !important;
}

.ContentBody .DialogPageBody .PageFooterLine
{
    background: #DEDEDE url(../Default/Images/Design/Backgrounds/DialogFooterBackground.png) repeat-x left top;
    border-top: 1px solid #999 !important;
}

.ContentBody .DialogPageBody .UniFlatSearchPanel
{
    background: #CCCCCC !important;
    background-image: url(./Images/Dialogs/TabDialogHeader.png) !important;
}

.ContentBody .DialogLeftBlock
{
    height: 100%;
    width: 236px;
    float: left;
    overflow: hidden;
}

.ContentBody .DialogRightBlock
{
    height: 100%;
    margin-left: 243px;
    overflow: hidden;
    position: relative;
}

.ContentBody .Safari .DialogRightBlock, .ContentBody.Opera .DialogRightBlock, .ContentBody.Gecko .DialogRightBlock
{
    margin-left: 0px;
    margin-right: 0px;
}

.ContentBody .DialogCompleteBlock
{
    width: 100%;
    height: 100%;
}

.ContentBody .DialogWebContent
{
    height: 65px;
    padding: 10px 10px 0px;
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
}

.ContentBody .DialogWebProperties
{
    border-top: 1px solid #A4B2BC;
    position: absolute;
    top: 85px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.ContentBody .DialogWebPropertiesTiny
{
    top: 60px;
}

.ContentBody .DialogWebUrlMaxBox
{
    width: 800px;
}

.ContentBody .DialogLinkWebProperties
{
    border-top: 1px solid #A4B2BC;
    position: absolute;
    top: 107px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.ContentBody .DialogProperties
{
    background-color: #fff;
    float: left;
    height: 296px;
    overflow: hidden;
    width: 100%;
    z-index: 10;
}

.ContentBody .DialogPropertiesFullSize
{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.ContentBody .DialogPropertiesFullSize input, .ContentBody .DialogProperties input
{
    font-size: 11px;
}

.ContentBody .DialogPropertiesPreview
{
    position: absolute;
    overflow: auto;
    border: 1px solid #A4B2BC;
    padding: 5px;
    display: none;
}

.ContentBody .DialogItemUrlBox
{
    width: 94%;
    float: left;
}

.ContentBody .DialogItemUrlRefresh
{
    padding: 3px 3px 0px;
}

.ContentBody .DialogResizerH
{
    background: url(./Images/MediaLibrary/FrameResizer/Horizontal/ResizerButton.gif) no-repeat center;
    cursor: pointer;
    overflow: hidden;
    line-height: 33px;
    font-size: 33px;
    width: 10px;
    height: 34px;
    left: 233px;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    z-index: 1000;
    clear: both;
}

.ContentBody.IE6 .DialogResizerH
{
    max-height: 5px;
    background-attachment: fixed;
}

.ContentBody .DialogResizerArrowH
{
    background: url(./Images/MediaLibrary/FrameResizer/Horizontal/Minimize.gif) no-repeat center;
    width: 10px;
    height: 33px;
    line-height: 33px;
    font-size: 33px;
}

.ContentBody .DialogResizerVLine, .ContentBody .HeaderSeparator
{
    height: 7px;
    font-size: 0;
    background-image: url(./Images/MediaLibrary/FrameResizer/Vertical/Resizer.gif);
    background-repeat: repeat-x;
    background-position: center;
    width: 100%;
    border-top: none;
}

.ContentBody .DialogResizerV
{
    background: url(./Images/MediaLibrary/FrameResizer/Vertical/ResizerButton.gif) no-repeat center;
    height: 6px;
    width: 33px;
    font-size: 4px;
    line-height: 4px;
    z-index: 1000;
    clear: both;
    float: right;
}

.ContentBody .DialogResizerArrowV
{
    background: url(./Images/MediaLibrary/FrameResizer/Vertical/Maximize.gif) no-repeat center;
    width: 33px;
    height: 6px;
    line-height: 4px;
    font-size: 4px;
    cursor: pointer;
}

.ContentBody .DialogViewContent
{
    position: relative;
    width: 100%;
    height: 1500px;
    overflow: auto;
    overflow-x: hidden;
}

.ContentBody .DialogElementHidden
{
    display: none;
}

.ContentBody .DialogViewContentTop
{
    padding: 10px;
    width: 97%;
    height: 30px;
}

.ContentBody .DialogViewContentBottom
{
    height: 100px;
    padding: 0px 10px 10px;
}

.ContentBody .DialogLabel
{
    white-space: nowrap;
}

.ContentBody .DialogMediaLibraryBlock
{
    height: 80px;
    padding: 10px;
    border-bottom: 1px solid #ACB8C0;
}

.ContentBody .DialogMediaLibraryBlockMediaLibraryUI
{
    height: 10px;
    padding: 5px 10px 16px;
    background-color: #EDDDC9;
}

.ContentBody .DialogMediaLibraryBlock select
{
    width: 165px;
}

.ContentBody .DialogSiteBlock
{
    height: 25px;
    padding: 10px;
    border-bottom: 1px solid #A4B2BC;
}

.ContentBody .DialogSiteDropdown
{
    width: 185px;
}

.ContentBody .DialogSearchBox
{
    height: 26px;
    float: none;
}

.ContentBody .DialogSearch
{
    display: table-cell;
    height: 26px;
    vertical-align: middle;
    padding-right: 3px;
    float: left;
}

.ContentBody .DialogSearchLabel
{
    display: table-cell;
    height: 26px;
    padding-right: 3px;
    padding-top: 4px;
    float: left;
}

.ContentBody .DialogListItem
{
    cursor: pointer;
    overflow: hidden;
    width: 200px;
}

.ContentBody .DialogListItemUnselectable
{
    cursor: default;
    display: inline;
}

.ContentBody .DialogListItemNameRow
{
    white-space: nowrap;
}

.ContentBody .DialogSelectedItem
{
    background-color: #FFF8CD;
}

.ContentBody .DialogTileItem
{
    border: solid 1px #ACB8C0;
    width: 210px;
    height: 62px;
    background-color: #FFF;
}

.ContentBody .DialogTileItemShadow
{
    width: 216px;
    height: 68px;
    float: left;
    margin: 0px 11px 11px 0px;
    background-image: url(./Images/MediaLibrary/tiles_shadow.gif);
    background-position: bottom right;
    background-repeat: no-repeat;
    position: relative;
}

.ContentBody .DialogTileItemBox
{
    width: 210px;
    height: 62px;
}

.ContentBody .DialogThumbnailItem
{
    border: solid 1px #ACB8C0;
    width: 170px;
    height: 136px;
    background-color: #FFF;
}

.ContentBody .DialogThumbnailItemShadow
{
    width: 176px;
    height: 142px;
    margin: 0px 11px 11px 0px;
    float: left;
    background-image: url(./Images/MediaLibrary/thumbs_shadow.gif);
    background-position: bottom right;
    background-repeat: no-repeat;
    position: relative;
}

.ContentBody .DialogThumbnailItemBox
{
    width: 170px;
    height: 136px;
}

.ContentBody .DialogThumbnailItemInfo
{
    margin-left: 4px;
    font-size: 10px;
    overflow: hidden;
    padding: 2px 0px 2px 0px;
    text-align: center;
    white-space: nowrap;
    width: 160px;
}

.ContentBody .DialogTileItem td
{
    font-size: 10px;
    vertical-align: top;
}

.ContentBody .DialogTileSeparator
{
    background-color: #FFFFFF;
    float: right;
    height: 38px;
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
}

.ContentBody .DialogTileItemActions
{
    margin-top: -21px;
    text-align: right;
    padding: 0px 1px 1px;
    float: right;
}

.ContentBody .DialogTileItemInfo
{
    font-size: 10px;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    padding: 4px;
    width: 132px;
}

.ContentBody .DialogTileTitleBold
{
    font-weight: bold;
    font-size: 11px;
}

.ContentBody .DialogTileItemImage
{
    width: 48px;
    height: 48px;
    line-height: 48px;
    padding: 2px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
}

.ContentBody .TilesMultipleSelection
{
    position: absolute;
    bottom: 9px;
    left: 5px;
}

.ContentBody.IE6 .TilesMultipleSelection, .ContentBody.IE7 .TilesMultipleSelection, .ContentBody.IE8 .TilesMultipleSelection
{
    left: 1px;
    bottom: 6px;
}

.ContentBody .ThumbMultipleSelection
{
    position: absolute;
    bottom: 10px;
    left: 4px;
}

.ContentBody.IE6 .ThumbMultipleSelection, .ContentBody.IE7 .ThumbMultipleSelection, .ContentBody.IE8 .ThumbMultipleSelection
{
    bottom: 8px;
}

.ContentBody .DialogTileItemImageContainer
{
    height: 52px;
    width: 52px;
    margin: 4px 5px 0px 4px;
    float: left;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
}

.ContentBody .DialogThumbItemImageContainer
{
    height: 95px;
    width: 100%;
    margin: 4px 0px 0px 0px;
}

.ContentBody .DialogViewArea
{
    padding: 0px;
    margin: 0px;
}

.ContentBody .DialogTilesClear
{
    clear: both;
    line-height: 0px;
    font-size: 0px;
}

.ContentBody .DialogThumbnailItemImage
{
    height: 95px;
    line-height: 95px;
    text-align: center;
    width: 170px;
    display: table-cell;
    vertical-align: middle;
}

.ContentBody .DialogThumbnailItemImage td
{
    width: 170px;
    height: 95px;
}

.ContentBody .DialogTileItemInfoGreyText
{
    color: #9B9B9B;
}

.ContentBody .DialogThumbnailActions
{
    float: right;
    text-align: right;
    vertical-align: bottom;
    padding: 0 4px;
    margin-top: -26px;
}

.ContentBody.IE6 .DialogThumbnailActions, .ContentBody.IE7 .DialogThumbnailActions
{
    padding: 0 1px;
    margin-top: -21px;
}

.ContentBody.IE8 .DialogThumbnailActions
{
    padding: 0 1px;
    margin-top: -25px;
}

.ContentBody .DialogThumbnailUploadAction
{
    float: right;
    padding-top: 1px;
}

.ContentBody .DialogMassActionsContent
{
    margin-top: 10px;
}

.ContentBody.IE6 .DialogMassActionsContent
{
    margin-top: 0px;
}

.ContentBody .DialogMassActionsDropdown
{
    padding: 0px 5px;
    display: inline;
}

.ContentBody .DialogMassActionsDropdown Input
{
    margin: 0px 5px;
}

.ContentBody .DialogTreeArea
{
    float: left;
    width: 236px;
}

.ContentBody .DialogTreeArea .ContentTree
{
    position: relative;
    height: 100%;
    overflow: auto;
}

.ContentBody .DialogTreeAreaSeparator
{
    width: 7px;
    height: 100%;
    float: left;
    background-color: #E2EEFB;
    background: url(./Images/MediaLibrary/FrameResizer/Horizontal/Resizer.gif) repeat-y top left;
}

.ContentBody .DialogMediaLibraryTreeArea
{
    overflow: auto;
}

.ContentBody .DialogMediaLibraryTreeArea .ContentTree
{
    padding-top: 5px;
    width: 236px;
}

.ContentBody .DialogMediaLibraryTreeAreaSep, .ContentBody .DialogMediaLibraryTreeAreaSep DIV
{
    display: inline;
}

.ContentBody .DialogMediaLibraryTreeAreaSep .InfoLabel
{
    padding: 5px 12px 0px;
}

.ContentBody .DialogErrorArea
{
    padding: 10px 10px 0px;
}

.ContentBody .DialogListingInfo
{
    padding: 10px 10px 0px 10px;
}

.ContentBody .DialogListingInfo .ListingPath
{
    font-weight: bold;
}

.ContentBody .DialogListingInfo .ListingClose
{
    text-decoration: underline;
}

.ContentBody .DialogInfoArea
{
    padding: 10px;
}

.ContentBody .Dialog_Tabs .ui-state-default
{
    background: transparent !important;
}

.ContentBody .Dialog_Tabs .ui-tabs-nav
{
    background-image: url("./Images/MediaLibrary/Tabs/TabsPanel.gif") !important;
    background-position: center bottom;
    background-repeat: repeat-x;
    border: 0px !important;
    height: 24px;
    margin: 0px !important;
    padding: 3px 5px 0px !important;
}

.ContentBody .Dialog_Tabs .ui-tabs-nav a
{
    font-weight: normal !important;
    cursor: pointer !important;
    padding: 0px !important;
    font-size: 11px !important;
    height: 24px;
}

.ContentBody .Dialog_Tabs .ui-tabs-nav li
{
    border-style: none !important;
    border-color: inherit !important;
    border-width: 0px !important; /* background: !important;*/
    cursor: pointer;
    font-family: Tahoma;
    font-size: 11px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    padding: 0px !important;
    text-decoration: none;
    top: 0px !important;
    margin: 0px !important;
    float: left !important;
}

.ContentBody .Dialog_Tabs .ui-tabs-panel
{
    border: 0px none !important;
    padding: 6px !important;
    background-color: #fff;
    height: 257px;
    overflow: hidden;
}

.ContentBody .Dialog_Tabs .JqueryUITabLeft, .ContentBody .Dialog_Tabs .JqueryUITabRight
{
    display: block;
    float: left;
    width: 6px;
    height: 24px;
    background-color: transparent !important;
}

.ContentBody .Dialog_Tabs .JqueryUITabCenter
{
    display: block;
    float: left;
    padding: 0px 6px;
    color: #000;
}

.ContentBody .Dialog_Tabs .ui-state-hover .JqueryUITabCenter
{
    background-image: url("./Images/MediaLibrary/Tabs/TabMidHover.gif") !important;
    background-position: center bottom;
    background-repeat: repeat-x;
}

.ContentBody .Dialog_Tabs .ui-tabs-selected
{
    background-color: transparent !important;
}

.ContentBody .Dialog_Tabs .ui-tabs-selected .JqueryUITabCenter
{
    background-image: url("./Images/MediaLibrary/Tabs/TabMidSelected.gif") !important;
    background-position: center bottom;
    background-repeat: repeat-x;
}

.ContentBody .Dialog_Tabs .ui-tabs-selected .JqueryUITabLeft
{
    background-image: url("./Images/MediaLibrary/Tabs/TabBorderLeftSelected.gif");
    background-position: left bottom;
    background-repeat: no-repeat;
    width: 6px;
    height: 24px;
}

.ContentBody .Dialog_Tabs .ui-tabs-selected .JqueryUITabRight
{
    background-image: url("./Images/MediaLibrary/Tabs/TabBorderRightSelected.gif");
    background-position: right bottom;
    background-repeat: no-repeat;
    width: 6px;
    height: 24px;
}

.ContentBody .DialogMenu
{
    border-bottom: solid 1px #b3b3b3;
    background-repeat: repeat-x;
    background-image: url(./Images/MediaLibrary/menubg.png) !important;
    background-position: top left;
    display: block;
    float: left;
    height: 45px;
    width: 100%;
    overflow: hidden;
}

.ContentBody .DialogMenuLine
{
    height: 5px;
    line-height: 5px;
    min-height: 5px;
    border-bottom: 1px solid #a4b2bc;
    background-color: #f0ede1;
}

.ContentBody .DialogMenu .DialogMenuLeft
{
    background-repeat: repeat-x;
    font-family: Arial;
    font-size: 12px;
    display: block;
    width: 232px;
    float: left;
    height: 41px;
    padding: 2px 3px;
    border-right: none;
}

.ContentBody .DialogMenu .Smaller
{
    width: 118px;
}

.ContentBody .DialogMenu .MenuItemLeft
{
    background-image: url(./Images/MediaLibrary/addfolder.png);
    background-repeat: no-repeat;
    cursor: pointer;
    width: 74px;
    height: 36px;
    margin: 2px;
    padding: 0px 0px 0px 36px;
    float: left;
    text-align: left;
    color: #000 !important;
}

.ContentBody .DialogMenu .MenuItemLeft span
{
    padding-top: 11px;
    display: block;
    float: left;
}

.ContentBody .DialogMenuInnerDiv
{
    width: 110px;
    height: 36px;
    color: #004377;
}

.ContentBody .DialogMenuInnerDiv img
{
    position: absolute;
}

.ContentBody .DialogMenuInnerDiv span
{
    position: absolute;
    margin: 11px 0 0 33px;
    color: #000;
}

.ContentBody .DialogMenu .MenuItemLeft img
{
    padding: 0px 7px 2px 8px;
}

.ContentBody .DialogMenu .MenuItemLeftOver
{
    background-image: url(./Images/MediaLibrary/addfolderover.png);
    color: #000;
}

.ContentBody .DialogMenu .MenuItemLeftOver img
{
    padding: 0px 7px 2px 8px;
}

.ContentBody .MediaLibraryFolderActions
{
    line-height: 20px;
    height: 20px;
    padding: 5px 0px 5px 8px;
    border-bottom: 1px solid #b3b3b3;
    background-image: url(./Images/MediaLibrary/folderactionsbg.png);
}

.ContentBody .NewItemImage
{
    margin: 0 5px 1px 0;
    vertical-align: middle;
}

.ContentBody .FolderLinkHorizontal
{
    float: left;
    padding-right: 7px;
}

.ContentBody .DialogsUploaderDisabled
{
    padding-left: 2px;
    position: relative;
}

.ContentBody .DialogsFolderDisabled
{
    background-image: url(./Images/MediaLibrary/addfolderdisabled.png) !important;
    cursor: default !important;
    color: #666 !important;
}

.ContentBody .DialogsFolderDisabledTitle
{
    font-family: Arial;
    font-size: 12px;
    left: 36px;
    position: absolute;
    bottom: 10px;
}

.ContentBody .DialogsFileDisabledTitle
{
    font-family: Arial;
    font-size: 12px;
    left: 35px;
    position: absolute;
    top: 10px;
}

.ContentBody .DialogMenu .DialogFileUploader
{
    padding: 2px 3px 0px 0px;
}

.ContentBody .ImageExtraClass
{
    position: absolute;
}

.ContentBody .ImageTooltip
{
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 3px;
    display: block;
}

.ContentBody .DialogMenu .DialogMenuRight
{
    font-family: Arial;
    font-size: 12px;
    display: block;
    width: 350px;
    height: 41px;
    float: left;
    padding: 2px;
}

.ContentBody .DialogMenu .MenuItemRight
{
    width: 102px;
    height: 36px;
    margin: 2px 3px;
    padding: 0px 0px 0px 8px;
    cursor: pointer;
    float: left;
    color: #000 !important;
}

.ContentBody .DialogMenu .MenuItemRight span
{
    padding-top: 11px;
    display: block;
    float: left;
}

.ContentBody .DialogMenu .MenuItemRight img
{
    float: left;
    padding-right: 5px;
    padding-top: 6px;
}

.ContentBody .DialogMenu .MenuItemRightOver
{
    background-image: url(./Images/MediaLibrary/buttonover.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    font-weight: normal;
    color: #000;
}

.ContentBody .DialogMenu .DialogFullScreen
{
    width: 110px;
    height: 41px;
    padding: 2px;
    position: absolute;
    right: 35px;
}

.ContentBody .DialogMenu .DialogMenuHelp
{
    display: block;
    width: 24px;
    height: 24px;
    float: right;
    padding: 11px 5px;
}

.ContentBody .DialogFooter
{
    border-top: solid 1px #A4B2BC;
    padding: 15px 15px 15px 0px;
}

.ContentBody .DialogPager
{
    float: left;
}

.ContentBody .DialogPageSize
{
    float: right;
    text-align: right;
}

.ContentBody .PageFooterLine
{
    border-top: solid 1px #A4B2BC;
    padding: 10px 15px;
    background-color: #E9F3FE;
}

.ContentBody .DialogGuidParams
{
    text-align: left;
}

#tooltip
{
    position: absolute;
    z-index: 5000;
}

.ContentBody .LiveSiteDialog .PageFooterLine, .ContentBody .ButtonsArea
{
    background: #b6d4e7 url(./Images/BackgroundPageFooterLine.png) !important;
    border-top: 1px solid #b3b3b3 !important;
}

.ContentBody .LiveSiteDialog .PageTitleHeader, .ContentBody .MediaLibrary .DialogHeader
{
    background: #CCCCCC !important;
    background-image: url(./Images/Dialogs/DialogHeader.png) !important;
    border-bottom: none;
}

.ContentBody .LiveSiteDialog .UniFlatPager
{
    background: #CCCCCC !important;
    background-image: url(./Images/Dialogs/WebpartSelectorPager.png) !important;
    border-bottom: 1px solid #b2b2b2 !important;
    border-top: 1px solid #b2b2b2 !important;
}

.ContentBody .LiveSiteDialog input[type="submit"]
{
    background: #E0E0E0 !important;
    border: 1px outset #E0E0E0 !important;
    color: #000 !important;
    font-size: 13px;
    font-weight: normal;
}

.ContentBody .LiveSiteDialog .HeaderSeparator
{
    background-image: url(./Images/Dialogs/HeaderSeparator.gif) !important;
    border-top: #fff;
}

.ContentBody .LiveSiteDialog .PageTitle
{
    color: #fff;
}

.ContentBody .LiveSiteDialog .VerticalFrameResizer
{
    background-image: url(./Images/MediaLibrary/FrameResizer/Vertical/ResizerButton.gif) !important;
    height: 7px;
}

.ContentBody .LiveSiteDialog .VerticalResizerBorder
{
    background-image: url(./Images/MediaLibrary/FrameResizer/Vertical/Resizer.gif) !important;
}

.ContentBody .LiveSiteDialog .FullTabsLeft, .ContentBody .LiveSiteDialog .TabsLeft
{
    background-image: url(./Images/MediaLibrary/Tabs/TabsPanel.gif) !important;
}

.ContentBody .LiveSiteDialog .FullTabsRight, .ContentBody .LiveSiteDialog .TabsRight, .ContentBody .LiveSiteDialog .TabsRightDialog
{
    background-image: url(./Images/MediaLibrary/Tabs/TabsPanel.gif) !important;
}

.ContentBody .LiveSiteDialog .TabControlSelectedLeft, .ContentBody.RTL .LiveSiteDialog .TabControlSelectedRight
{
    background-image: url(./Images/MediaLibrary/Tabs/TabBorderLeftSelected.gif) !important;
}

.ContentBody .LiveSiteDialog .TabControlSelectedRight, .ContentBody.RTL .LiveSiteDialog .TabControlSelectedLeft
{
    background-image: url(./Images/MediaLibrary/Tabs/TabBorderRightSelected.gif) !important;
}

.ContentBody .LiveSiteDialog .TabControlSelected
{
    background-image: url(./Images/MediaLibrary/Tabs/TabMidSelected.gif) !important;
}

/* UniSelector */
.ContentBody .UniSelector .LongButton
{
    margin: 5px 2px 0px 0px;
}

/* Media library UI */
.ContentBody .MediaLibraryContainer
{
    border: 1px solid #b3b3b3;
    position: relative;
    height: 600px;
}

.ContentBody .MediaLibraryContainer input[type="text"], .ContentBody .MediaLibraryContainer input[type="password"], .ContentBody .MediaLibraryContainer select
{
    border: 1px solid #AEAEAE;
}

.ContentBody .MediaLibraryContainer .TextBoxField
{
    width: 292px !important;
}

.ContentBody .MediaLibraryContainer .TextAreaField
{
    border: 1px solid #AEAEAE;
    height: 100px;
    width: 292px !important;
}

.ContentBody .MediaLibrary input[type="submit"]
{
    background: #E0E0E0 !important;
    border: 1px outset #E0E0E0 !important;
    color: #000 !important;
    font-size: 13px;
    font-weight: normal;
}

.ContentBody .MediaLibrary .PageTitleHeader
{
    background-image: url(./Images/Dialogs/DialogHeader.png) !important;
    background-color: #CCCCCC !important;
    border-bottom: none;
}

.ContentBody .MediaLibrary.FolderEdit .ajax__tab_body
{
    padding: 0px !important;
}

.ContentBody .MediaLibrary.FolderEdit .FolderEditLabelArea
{
    padding: 0px 6px !important;
}

.ContentBody .MediaLibraryTitleLine
{
    border-bottom: 1px solid #CCCCCC;
}

.ContentBody .MediaLibraryTree
{
    padding: 5px 0px;
}

.ContentBody .MediaLibraryImportForm
{
    float: left;
    width: 400px;
}

.ContentBody .MediaLibraryImportPreview
{
    float: left;
    width: 300px;
}

.ContentBody .MediaProperties .ajax__tab_body
{
    padding: 10px;
}

.ContentBody .MediaProperties .ajax__tab_body input
{
    font-size: 13px;
}

.ContentBody .Dialog_Tabs .MediaLibraryCustomTab
{
    overflow: auto;
    height: 256px;
}

.ContentBody .MediaLibraryNewFolder .ajax__tab_header
{
    display: none !important;
}


/* UniGrid */
.ContentBody .UniGridBody a
{
    color: #000000;
}

.ContentBody .UniGridHead th, .ContentBody .UniGridHead td
{
    background: url("./Images/BackgroundTableHeader.png") repeat-x scroll left bottom transparent;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    height: 23px;
    padding: 0 5px;
    text-align: left;
}

.ContentBody .UniGridHead a
{
    text-decoration: none;
    color: #000000;
}

.ContentBody .UniGridMain
{
    width: 100%;
}

.ContentBody .UniGridGrid
{
    width: 100%;
    border: 1px solid #CDCED0;
    margin-top: 5px;
}

.ContentBody .UnigridSelection
{
    text-align: center !important;
    padding: 0px 5px 0px 5px !important;
}

.ContentBody .UniGridGrid td
{
    padding-left: 5px;
    padding-right: 5px;
}

.ContentBody .UniGridGrid td, .ContentBody .UniGridGrid th
{
    border-top: solid 1px #CDCED0 !important;
    border-bottom: solid 1px #CDCED0 !important;
    border-right: none;
    border-left: none;
}

.ContentBody .UniGridGrid td td
{
    padding-left: 0px;
    padding-right: 0px;
    border-top: none !important;
    border-bottom: none !important;
}

.ContentBody .OddRow
{
    background-color: #F3F3F4;
    height: 27px;
}

.ContentBody .EvenRow
{
    height: 27px;
    background-color: #fff;
}

.ContentBody.IE6 .OddRow, .ContentBody.IE6 .EvenRow, .ContentBody.IE7 .OddRow, .ContentBody.IE7 .EvenRow
{
    height: 20px;
}

.ContentBody .UnigridActionButton
{
    width: 16px;
    height: 16px;
}

/* UniGrid pager */
/*.UniGridPager
{
    text-decoration: none;
    color: #313131;
    background-color: #DDDDDD !important;
    background-image: none !important;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    height: 27px;
    line-height: 22px;
}

.ContentBody .UniGridClearPager .UniGridPager
{
    border: 0px none;
    background-color: Transparent;
    background-image: none;
}
*/
.ContentBody .UniGridPager a, .ContentBody .UniGridPager a:focus, .ContentBody .UniGridPager a:hover, .ContentBody .UniGridPager a:active
{
    outline: none;
}

.ContentBody .UniGridPager th, .ContentBody .UniGridPager td
{
    background-image: none !important;
    font-weight: bold;
}

.ContentBody .UnigridPagerSelectedPage, .ContentBody .UnigridPagerPage
{
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    height: 18px;
    line-height: 18px;
    padding: 0px 4px;
    margin: 0px 1px;
    border: 1px solid #DDDDDD;
}

.ContentBody .UnigridPagerPage:hover
{
    border: 1px solid #AAAAAA;
    background-color: #CCCCCC;
}

.ContentBody .UnigridPagerSelectedPage
{
    border: 1px solid #AAAAAA;
    background-color: #CCCCCC;
}

.ContentBody .UnigridPagerFirst, .ContentBody .UnigridPagerLast, .ContentBody .UnigridPagerPrev, .ContentBody .UnigridPagerNext, .ContentBody .UnigridPagerDirectPage, .ContentBody .UnigridPagerPageSize
{
    display: inline;
    text-decoration: none;
    font-weight: bold;
    float: left;
    width: 22px;
    height: 22px;
    margin: 2px 5px 0px 3px;
}

.ContentBody .UnigridPagerDirectPage, .ContentBody .UnigridPagerPageSize
{
    margin: 3px 5px 0px 3px;
}

.ContentBody .UnigridPagerPageSize
{
    float: none;
}

.ContentBody .UnigridPagerFirst
{
    background: url(./Images/UniGrid/First.gif) no-repeat top left;
}

.ContentBody .UnigridPagerLast
{
    background: url(./Images/UniGrid/Last.gif) no-repeat top left;
}

.ContentBody .UnigridPagerPrev
{
    background: url(./Images/UniGrid/Prev.gif) no-repeat top left;
}

.ContentBody .UnigridPagerNext
{
    background: url(./Images/UniGrid/Next.gif) no-repeat top left;
}

.ContentBody .UnigridPagerFirst:hover
{
    background: url(./Images/UniGrid/FirstOver.gif) no-repeat top left;
}

.ContentBody .UnigridPagerLast:hover
{
    background: url(./Images/UniGrid/LastOver.gif) no-repeat top left;
}

.ContentBody .UnigridPagerPrev:hover
{
    background: url(./Images/UniGrid/PrevOver.gif) no-repeat top left;
}

.ContentBody .UnigridPagerNext:hover
{
    background: url(./Images/UniGrid/NextOver.gif) no-repeat top left;
}

.ContentBody .UnigridPagerDirectPage, .ContentBody .UnigridPagerPageSize
{
    width: auto;
    margin-right: 6px;
    margin-left: 6px;
}

.ContentBody .UnigridPagerPages
{
    margin-right: 5px;
    margin-left: 5px;
}

.ContentBody .LeftAlign
{
    float: left;
}

.ContentBody .LiveSiteDialog .UniGridHead
{
    background: url('./Images/BackgroundTableHeader.png') repeat-x left bottom;
}

.ContentBody .LiveSiteDialog .UniGridHead th
{
    height: 23px;
    background: url('./Images/BackgroundTableHeader.png') repeat-x left bottom;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    text-align: left;
    white-space: nowrap;
}

.ContentBody .LiveSiteDialog .UniGridPager
{
    background: none;
    border: none;
}

.ContentBody .LiveSiteDialog .UnigridPagerPageSize
{
    margin: 3px 0px 0px 0px;
}

/* Image editor */
.ContentBody .ImageEditorMain
{
    border-bottom: 1px solid #999999 !important;
    border-left: 1px solid #999999 !important;
}

.ContentBody .ImageEditorMain .MenuHeaderItem, .ContentBody .ImageEditorMain .MenuHeaderItemSelected
{
    text-decoration: none;
    color: #313131;
    height: 26px;
    background: url('./Images/BackgroundImageEditor.png') repeat-x left bottom;
    border-top: 1px solid #999999 !important;
}

.ContentBody .ImageEditorMain .MenuHeaderItemSelected
{
    border-bottom: 1px solid #999999 !important;
}

.ContentBody .ImageEditorMain .Divider
{
    background-color: #999999 !important;
}

.ContentBody .ImageEditorFrame
{
    border: 1px solid #999999 !important;
}


/* Modal dialogs */
.ContentBody .ModalBackground
{
    background-color: #888888;
    filter: alpha(opacity=70) !important;
    opacity: 0.7;
}

.ContentBody .ModalPopupDialog
{
    background-color: #ffffff;
    border: solid 1px #888;
}


.ContentBody .ModalPopupDialog input[type="submit"]
{
    background: none repeat scroll 0 0 #E0E0E0 !important;
    border: 1px outset #E0E0E0 !important;
    color: #000000 !important;
    font-size: 13px;
    font-weight: normal;
}

.ContentBody .ModalPopupDialog .DialogPageBody .PageTitleBody .PageTitleHeader
{
    border-bottom: 1px solid #CCCCCC;
    display: block;
    padding: 5px 5px 1px;
    white-space: nowrap;
}

.ContentBody .ModalPopupDialog .DialogPageContent
{
    padding: 10px;
}

.ContentBody .ModalPopupDialog .PageFooterLine .Buttons
{
    text-align: right;
}

.ContentBody .WidgetTabsPageHeader .PageTitle, .ContentBody .WebpartTabsPageHeader .PageTitle, .ContentBody .DialogsPageHeader .PageTitle
{
    color: #fff;
}


/*Web part properties*/
.ContentBody .WebPartForm .EditingFormCategoryRow
{
    background-color: #f3f3f3;
}

.ContentBody .WebPartForm .EditingFormCategoryRow .EditingFormLeftBorder
{
    background-image: url('./Images/WebpartProperties/lefttop.png');
}

.ContentBody .WebPartForm .EditingFormCategoryRow .EditingFormRightBorder
{
    background-image: url('./Images/WebpartProperties/righttop.png');
}

.ContentBody .WebPartForm .EditingFormFooterRow .EditingFormLeftBorder
{
    background-image: url('./Images/WebpartProperties/leftbottom.png');
}

.ContentBody .WebPartForm .EditingFormFooterRow .EditingFormRightBorder
{
    background-image: url('./Images/WebpartProperties/rightbottom.png');
}

.ContentBody .WebPartForm .EditingFormFooterRow
{
    background-image: url('./Images/WebpartProperties/bottom.png');
}

.ContentBody .WebPartForm .EditingFormRow .EditingFormLeftBorder
{
    background-image: url('./Images/WebpartProperties/left.png');
}

.ContentBody .WebPartForm .EditingFormRow .EditingFormRightBorder
{
    background-image: url('./Images/WebpartProperties/right.png');
}

.ContentBody .WebPartForm .EditingFormRow
{
    background-color: #fafafa;
}

.ContentBody .TabControl, .ContentBody .TabControlSelected, .ContentBody .TabControl:hover
{
    color: #000;
}

.UnigridActionButton
{
    margin: 0px 3px;
}

.ContentBody .DialogFileUploader .InnerDiv
{
    background: url('./Images/MediaLibrary/addfile.png');
}

.ContentBody .InnerDiv.NewAttachment
{
    text-decoration: underline;
}

.ContentBody .DialogFileUploader .MouseOver .InnerDiv
{
    background: url('./Images/MediaLibrary/addfileover.png');
}

.Opera .TableList td, .Opera .TableList th, .IE7 .TableList td, .IE7 .TableList th, .IE9 .TableList td, .IE9 .TableList th, .Gecko .TableList td, .Gecko .TableList th
{
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    border-right: none;
    border-left: none;
}